<%= form_for(@task) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :details %>
  <%= f.text_field :details %>
  <% if @task.id %>
    <%= check_box_tag "flag", true, @task.completed %><label>Completed</label>
  <% end %>
  <%= f.submit %>
<% end %>
